<!DOCTYPE html>
<html lang="en">

<head>
    <title>맛Go</title>


    <style>
        .ListMyTitle{
            background-color: aqua;
        }
        .BestRes{
            background-color: greenyellow;
        }
        .WishRes{
            background-color: aqua;
        }
    </style>

<body>
    <!--나의 맛집-->
    <div class="ListMyTitle">
        <h1>나의 맛집</h1>
    </div>
    <!--맛집리스트-->
    <div class="BestRes">
        <div>
            맛집리스트
        </div>
        <div>
            <div class="BestResList">
                맛집1
            </div>
            <div class="BestResList">
                맛집2
            </div>
            <div class="BestResList">
                맛집3
            </div>
        </div>
        <div class="AddBestList">
            추가하기
        </div>
    </div>
    <!--관심목록-->
    <div class="WishRes">
        <div>
            관심리스트
        </div>
        <div>
            <div class="WishResList">
                관심맛집1
            </div>
            <div class="WishResList">
                관심맛집2
            </div>
            <div class="WishResList">
                관심맛집3
            </div>
        </div>   
    </div>
</body>

</html>