<!DOCTYPE html>
<html lang="en">

<head>
    <title>맛Go</title>


    <style>
        .WeatherMyRes {
            background-color: aqua;
        }

        .Mytitle {
            background-color: greenyellow;
        }

        .Select_list_n {
            background-color: aqua;
        }

        .search {
            background-color: greenyellow;
        }

        .share {
            background-color: aqua;
        }

        .ShareSelect_list {
            background-color: greenyellow
        }
    </style>

<body>
    <!--날씨와 나의 맛집-->
    <div class="WeatherMyRes">
        <div class="Weather">
            날씨
        </div>
        <div class="MyRes">
            나의식당
        </div>
    </div>
    <!--대문-->
    <div class="Mytitle">
        <h1>맛Go</h1>
    </div>
    <!--선택 안되어 있는 리스트-->
    <div class="Select_list_n">
        <div>
            선택안되어있는리스트
        </div>
    </div>
    <!--검색-->
    <div class="search">
        검색
    </div>

    <!--관심목록&공유하기-->
    <div class="ShareSelect_list">
        <div class="share">
            공유
        </div>

        <div class="Select_list">
            관심목록
        </div>
    </div>
</body>

</html>